name: Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t servidor-nginx .

    - name: Run Container
      run: docker run -d -p 80:80 servidor-nginx
